/* font import */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Manrope", sans-serif; */
/* font-family: "Montserrat", sans-serif; */

/* class sector */
.h1_60{
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: -2%;
}
.h_c{
    background: linear-gradient(rgb(251, 162, 79),
    rgb(255, 30, 30));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
}
.p_description{
    color: rgb(130, 130, 130);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 500;
}
.p_description{
    color: rgb(130, 130, 130);
    font-size: 30px;
    font-family: Manrope;
    font-weight: 500;
}
.p_description_18{
    color: rgb(37, 37, 37);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
}
.p_16{
    color: rgb(24, 25, 31);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
}
.p_f{
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
}
.center{
    text-align: center;
}
.h2_40{
    color: rgb(112, 112, 112);
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
}
.h2_30{
    font-family: Manrope;
    font-size: 30px;
    font-weight: 800;
    color: rgb(91, 91, 91);
}
.h2_36{
    color: rgb(103, 103, 103);
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
}
.h3_28{
    color: rgb(24, 25, 31);
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 800;
}
.h3_48{
    color: rgb(24, 25, 31);
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
}
.mt{
    margin-top: 50px;
}
.btn_prymary{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    padding: 24px 32px 24px 32px;
    border-radius: 100px;
    box-shadow: 0px 2px 30px 0px rgba(252, 143, 73, 0.5);
    /* gradient */
    background: linear-gradient(69.40deg, rgb(251, 162, 79) -6.919%,rgb(255, 30, 30) 144.985%);
}


*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
header{
    width: 100vw;
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_box{
    width: 90%;
    margin: auto;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_box>div{
    width: 50%;
    height: 100%;
}
.header_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}
.hero_img{
    background-image: url("../images/shapes/Group\ 8450.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: left;
    position: relative;

}
.hero_man{
    position: absolute;
    right:70px;
    bottom: 0;
}
/* about section */
.about{
    width: 90vw;
    margin: auto;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    background-image: url('../images/shapes/7.png');
    background-size: cover;
}
.about_1{
    width: 100%;
    height: 100%;
    position: relative;

}
.about_1>img{
    position: absolute;
    bottom: 0;
    left: 60px;
}
.about_2{
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
/* recipies section */
.recipies{
    width: 90vw;
    height: 100vh;
    margin:100px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.recipies_text{
    width: 50%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.recipies_container{
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}
.recipies_container>div{
    width: 70%;
    height: 100%;
    padding:5%;
    border-radius: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 1px 10px gray;
}
.recipies_container>div>img{
    width: 100%;
    height: 300px;
    border-radius: 30px;
}
/* view */
.view{
    width: 90%;
    margin: 100px auto 0;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px gray;
    border-radius: 20px;
}
.view_box{
    width: 80%;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}
/* footer section */
footer{
    margin-top: 100px;
    width: 100vw;
    height: 250px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
